<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel config_layers_group search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN pkey_fieldblock}		
	<div class="container {$fielddispclass_pkey}" data-fieldname="pkey">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_pkey}">
				{$label config_layers_group pkey}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_pkey}
			</div>
			<div class="col-md-4" >
				{$pkey_editcontrol}
			</div>
			<div class="col-md-4" >
				{$pkey_editcontrol1}
			</div>
		</div>
	</div>
{END pkey_fieldblock}
	{BEGIN group_code_fieldblock}		
	<div class="container {$fielddispclass_group_code}" data-fieldname="group_code">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_group_code}">
				{$label config_layers_group group_code}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_group_code}
			</div>
			<div class="col-md-4" >
				{$group_code_editcontrol}
			</div>
			<div class="col-md-4" >
				{$group_code_editcontrol1}
			</div>
		</div>
	</div>
{END group_code_fieldblock}
	{BEGIN group_description_fieldblock}		
	<div class="container {$fielddispclass_group_description}" data-fieldname="group_description">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_group_description}">
				{$label config_layers_group group_description}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_group_description}
			</div>
			<div class="col-md-4" >
				{$group_description_editcontrol}
			</div>
			<div class="col-md-4" >
				{$group_description_editcontrol1}
			</div>
		</div>
	</div>
{END group_description_fieldblock}
	{BEGIN param_label_fieldblock}		
	<div class="container {$fielddispclass_param_label}" data-fieldname="param_label">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_param_label}">
				{$label config_layers_group param_label}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_param_label}
			</div>
			<div class="col-md-4" >
				{$param_label_editcontrol}
			</div>
			<div class="col-md-4" >
				{$param_label_editcontrol1}
			</div>
		</div>
	</div>
{END param_label_fieldblock}
	{BEGIN param_view_fieldblock}		
	<div class="container {$fielddispclass_param_view}" data-fieldname="param_view">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_param_view}">
				{$label config_layers_group param_view}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_param_view}
			</div>
			<div class="col-md-4" >
				{$param_view_editcontrol}
			</div>
			<div class="col-md-4" >
				{$param_view_editcontrol1}
			</div>
		</div>
	</div>
{END param_view_fieldblock}
	{BEGIN default_zoom_fieldblock}		
	<div class="container {$fielddispclass_default_zoom}" data-fieldname="default_zoom">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_default_zoom}">
				{$label config_layers_group default_zoom}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_default_zoom}
			</div>
			<div class="col-md-4" >
				{$default_zoom_editcontrol}
			</div>
			<div class="col-md-4" >
				{$default_zoom_editcontrol1}
			</div>
		</div>
	</div>
{END default_zoom_fieldblock}
	{BEGIN key_columns_fieldblock}		
	<div class="container {$fielddispclass_key_columns}" data-fieldname="key_columns">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_key_columns}">
				{$label config_layers_group key_columns}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_key_columns}
			</div>
			<div class="col-md-4" >
				{$key_columns_editcontrol}
			</div>
			<div class="col-md-4" >
				{$key_columns_editcontrol1}
			</div>
		</div>
	</div>
{END key_columns_fieldblock}
	{BEGIN consumers_info_sql_fieldblock}		
	<div class="container {$fielddispclass_consumers_info_sql}" data-fieldname="consumers_info_sql">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_consumers_info_sql}">
				{$label config_layers_group consumers_info_sql}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_consumers_info_sql}
			</div>
			<div class="col-md-4" >
				{$consumers_info_sql_editcontrol}
			</div>
			<div class="col-md-4" >
				{$consumers_info_sql_editcontrol1}
			</div>
		</div>
	</div>
{END consumers_info_sql_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
