<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel config_layers_group search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN pkey_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pkey}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pkey{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="pkey" data-fieldname="pkey" >


	<label class="r-search-label control-label" for="{$labelfor_pkey}">
		{$label config_layers_group pkey }	</label>
	<div class="r-search-option">
		{$searchtype_pkey}
	</div>
	<div class="r-search-field">
		{$pkey_editcontrol}	</div>
	<div class="r-search-field">
		{$pkey_editcontrol1}
	</div>
	
</div>

{END pkey_fieldblock}
											
{BEGIN group_code_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_group_code}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="group_code{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="group_code" data-fieldname="group_code" >


	<label class="r-search-label control-label" for="{$labelfor_group_code}">
		{$label config_layers_group group_code }	</label>
	<div class="r-search-option">
		{$searchtype_group_code}
	</div>
	<div class="r-search-field">
		{$group_code_editcontrol}	</div>
	<div class="r-search-field">
		{$group_code_editcontrol1}
	</div>
	
</div>

{END group_code_fieldblock}
											
{BEGIN group_description_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_group_description}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="group_description{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="group_description" data-fieldname="group_description" >


	<label class="r-search-label control-label" for="{$labelfor_group_description}">
		{$label config_layers_group group_description }	</label>
	<div class="r-search-option">
		{$searchtype_group_description}
	</div>
	<div class="r-search-field">
		{$group_description_editcontrol}	</div>
	<div class="r-search-field">
		{$group_description_editcontrol1}
	</div>
	
</div>

{END group_description_fieldblock}
											
{BEGIN param_label_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_param_label}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="param_label{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="param_label" data-fieldname="param_label" >


	<label class="r-search-label control-label" for="{$labelfor_param_label}">
		{$label config_layers_group param_label }	</label>
	<div class="r-search-option">
		{$searchtype_param_label}
	</div>
	<div class="r-search-field">
		{$param_label_editcontrol}	</div>
	<div class="r-search-field">
		{$param_label_editcontrol1}
	</div>
	
</div>

{END param_label_fieldblock}
											
{BEGIN param_view_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_param_view}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="param_view{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="param_view" data-fieldname="param_view" >


	<label class="r-search-label control-label" for="{$labelfor_param_view}">
		{$label config_layers_group param_view }	</label>
	<div class="r-search-option">
		{$searchtype_param_view}
	</div>
	<div class="r-search-field">
		{$param_view_editcontrol}	</div>
	<div class="r-search-field">
		{$param_view_editcontrol1}
	</div>
	
</div>

{END param_view_fieldblock}
											
{BEGIN default_zoom_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_default_zoom}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="default_zoom{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="default_zoom" data-fieldname="default_zoom" >


	<label class="r-search-label control-label" for="{$labelfor_default_zoom}">
		{$label config_layers_group default_zoom }	</label>
	<div class="r-search-option">
		{$searchtype_default_zoom}
	</div>
	<div class="r-search-field">
		{$default_zoom_editcontrol}	</div>
	<div class="r-search-field">
		{$default_zoom_editcontrol1}
	</div>
	
</div>

{END default_zoom_fieldblock}
											
{BEGIN key_columns_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_key_columns}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="key_columns{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="key_columns" data-fieldname="key_columns" >


	<label class="r-search-label control-label" for="{$labelfor_key_columns}">
		{$label config_layers_group key_columns }	</label>
	<div class="r-search-option">
		{$searchtype_key_columns}
	</div>
	<div class="r-search-field">
		{$key_columns_editcontrol}	</div>
	<div class="r-search-field">
		{$key_columns_editcontrol1}
	</div>
	
</div>

{END key_columns_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
