<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel config_layers_group view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN group_code_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_group_code}  r-vertical-field" data-fieldname="group_code" data-signal-error-for="group_code{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="group_code" data-fieldname="group_code" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_group_code}">
		
		{BEGIN group_code_label}{$label config_layers_group group_code }{END group_code_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$group_code_value}	</div>

		
</div>


{END group_code_fieldblock}
											
{BEGIN group_description_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_group_description}  r-vertical-field" data-fieldname="group_description" data-signal-error-for="group_description{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="group_description" data-fieldname="group_description" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_group_description}">
		
		{BEGIN group_description_label}{$label config_layers_group group_description }{END group_description_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$group_description_value}	</div>

		
</div>


{END group_description_fieldblock}
											
{BEGIN param_label_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_param_label}  r-vertical-field" data-fieldname="param_label" data-signal-error-for="param_label{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="param_label" data-fieldname="param_label" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_param_label}">
		
		{BEGIN param_label_label}{$label config_layers_group param_label }{END param_label_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$param_label_value}	</div>

		
</div>


{END param_label_fieldblock}
											
{BEGIN param_view_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_param_view}  r-vertical-field" data-fieldname="param_view" data-signal-error-for="param_view{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="param_view" data-fieldname="param_view" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_param_view}">
		
		{BEGIN param_view_label}{$label config_layers_group param_view }{END param_view_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$param_view_value}	</div>

		
</div>


{END param_view_fieldblock}
											
{BEGIN default_zoom_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_default_zoom}  r-vertical-field" data-fieldname="default_zoom" data-signal-error-for="default_zoom{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="default_zoom" data-fieldname="default_zoom" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_default_zoom}">
		
		{BEGIN default_zoom_label}{$label config_layers_group default_zoom }{END default_zoom_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$default_zoom_value}	</div>

		
</div>


{END default_zoom_fieldblock}
											
{BEGIN key_columns_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_key_columns}  r-vertical-field" data-fieldname="key_columns" data-signal-error-for="key_columns{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="key_columns" data-fieldname="key_columns" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_key_columns}">
		
		{BEGIN key_columns_label}{$label config_layers_group key_columns }{END key_columns_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$key_columns_value}	</div>

		
</div>


{END key_columns_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Close window			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
